<%= form_for(@keytype) do |f| %>
  <% if @keytype.errors.any? %>
    <div class="alert-message block-message error">
      <h2><%= pluralize(@keytype.errors.count, "error") %> prohibited this keytype from being saved:</h2>

      <ul>
      <% @keytype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
	<div class="input">
		<%= f.text_field :name %>
	</div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
	<div class="input">
		<%= f.text_field :description %>
	</div>
  </div>
  <div class="actions">
    <button type="submit" class="btn primary">Save</button>
  </div>
<% end %>
